{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
<title>Change password</title>
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
    
        <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
            <!--<li class="nav-header"></li>-->
            <li><a href="{% url 'blog:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{% url 'accounts:edit_profile' %}"><i class="fa fa-user"></i> Edit Profile</a></li>
            <li><a href="{% url 'accounts:edit_user_info' %}"><i class="fa fa-user"></i> Edit User Info</a></li>
            <li><a href="{% url 'accounts:change_password' %}"><i class="fa fa-lock"></i> Change Password</a></li>
    
        </ul>
    </div><!-- /span-3 -->

    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <a href="{% url 'accounts:change_password' %}"><strong><span class="fa fa-lock"></span> Change Password</strong></a>
        <hr>
        <div class="card mb-4"> 
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class = "btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}