{% extends "base_account.html" %} {% load crispy_forms_tags %} {% block head %}
<title>Register</title>
{% endblock %} {% block body %}

<div class="container login-container">
  <div class="login-body-flex">
    <div class="login-column login-hidden"></div>
    <div class="login-column login-column-act">
      <div class="login-box">
        <h5 class="login-box-title">Sign in</h5>
        <div class="login-icon-try">
          <p class="lgoin-icon">
            <a class="login-button login-button-git">
              <span class="icon">
                <i class="fa fa-github" style="color: white"> </i>
              </span>
            </a>
          </p>
          <p class="lgoin-icon">
            <a class="login-button login-button-gmail">
              <span class="icon">
                <i class="fa fa-google" style="color: white"> </i>
              </span>
            </a>
          </p>
          <p class="lgoin-icon">
            <a class="login-button login-button-fb">
              <span class="icon">
                <i class="fa fa-facebook" style="color: white"> </i>
              </span>
            </a>
          </p>
        </div>

        <form method="post">
          {% csrf_token %}

          <div
            class="input is_danger is_medium"
            placeholder="Username"
            style="margin-bottom: 5px"
          >
            {{ form.username | as_crispy_field }}
          </div>
          <div class="input is_danger is_medium" placeholder="Password">
            {{ form.password | as_crispy_field }}
          </div>

          <br />
          <button type="submit" class="btn btn-primary login-btn">
            Log in
          </button>
        </form>

        <div class="row" style="margin-bottom: 5px">
          <div class="col forgot-text">
            <a href="{% url 'accounts:password_reset' %}">Forgot password</a>
          </div>
          <div class="col forgot-text">
            <a href="{% url 'accounts:register' %}">Need an account? Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="login-column login-hidden"></div>
  </div>
</div>
{% endblock %}
