{% extends "base.html" %} {% load crispy_forms_tags %} {% block head %}
<title>Articles</title>
{% endblock %} {% block header %}
<div class="header-flex is_color">
  <div class="header-flex-div">
    <a href="{% url 'accounts:register' %}">Getting stated </a>
  </div>
  <div class="header-flex-div">
    <a href="{% url 'accounts:login' %}">Sign in</a>
  </div>
</div>
{% endblock %} {% block body %}
<div class="row">
  <br />
  {% for article in articles %}
  <div class="col-md-4">
    <div>
      <a href="{% url 'blog:article' article.id %}">
        {% load static%} {% if article.article_image %}
        <img src="{{ article.article_image.url }}" height="174" width="350" />
        {% else %}
        <img
          src="{% static 'accounts/default_user.png' %}"
          height="174"
          width="350"
        />
        {% endif %}
      </a>
    </div>
    <div class="col-article-title">
      <a href="{% url 'blog:article' article.id %}">
        <h4>{{ article.title }}</h4>
      </a>
    </div>
    <div class="col-article-des">
      <a href="{% url 'blog:article' article.id %}">
        You might have found a variety of use cases of background tasks or
        scheduled jobs in application development. For example, we can delegate…
      </a>
    </div>
    <div class="row">
      <div class="col-sx-1" style="margin-left: 15px">
        {% load static%} {% if article.article_image %}
        <img
          src="{{ article.author.userprofile.profile_image.url }}"
          height="40"
          width="40"
          class="circle"
        />
        {% else %}
        <img
          src="{% static 'accounts/default_user.png' %}"
          height="40"
          width="40"
          class="circle"
        />
        {% endif %}
      </div>
      <div class="col-sx-1">
        <a href="">{{ article.author }}</a>
        <p class="col-date">{{ article.create_date }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block footer %}
<div class="header-flex is_color">
  <div class="footer-flex-div is_color">
    <a href="{% url 'accounts:register' %}">About </a>
  </div>
  <div class="footer-flex-div is_color">
    <a href="{% url 'accounts:register' %}">Terms </a>
  </div>
  <div class="footer-flex-div is_color">
    <a href="{% url 'accounts:register' %}">Privecy </a>
  </div>
  <div class="footer-flex-div is_color">
    <a href="{% url 'accounts:register' %}">Contact </a>
  </div>
</div>
{% endblock %}
