{% extends "base.html" %} {% load crispy_forms_tags %} {% block head %}
<title>Article</title>
{% endblock %} {% block header %}
<div class="header-other-flex">
  <div class="header-other-flex-div">
    <a href="{% url 'accounts:register' %}">Getting stated </a>
  </div>
  <div class="header-other-flex-div">
    <a href="{% url 'accounts:login' %}">Sign in</a>
  </div>
</div>
{% endblock %} {% block body %}

<div class="single-article">
  <div>
    <h1 class="single-article-title">{{ article.title }}</h1>
  </div>
  <div class="row single-article-author">
    <div class="col-sx-1">
      {% load static%} {% if article.article_image %}
      <img
        src="{{ article.author.userprofile.profile_image.url }}"
        height="40"
        width="40"
        class="circle"
      />
      {% else %}
      <img
        src="{% static 'accounts/default_user.png' %}"
        height="40"
        width="40"
        class="circle"
      />
      {% endif %}
    </div>
    <div class="col-sx-1">
      <a href="">{{ article.author }}</a>
      <p class="col-date">{{ article.create_date }}</p>
    </div>
  </div>

  {% load static%} {% if article.article_image %}
  <img src="{{ article.article_image.url }}" height="300" width="710" />
  {% else %}
  <img
    src="{% static 'accounts/default_user.png' %}"
    height="300"
    width="710"
  />
  {% endif %}

  <div class="single-article-des">
    <p>{{ article.content | safe }}</p>
  </div>

  <div class="row single-article-author">
    <div class="col-sx-1">
      {% load static%} {% if article.article_image %}
      <img
        src="{{ article.author.userprofile.profile_image.url }}"
        height="80"
        width="80"
        class="circle"
      />
      {% else %}
      <img
        src="{% static 'accounts/default_user.png' %}"
        height="80"
        width="80"
        class="circle"
      />
      {% endif %}
    </div>
    <div class="col-sx-1">
      <a href="">
        <h6>{{ article.author }}</h6>
      </a>
      <p class="col-date">{{ article.author.userprofile.description }}</p>
    </div>
  </div>
</div>

{% endblock %}
